[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "*"
openpyxl = "*"
djangorestframework = "*"
sklearn = "*"
gensim = "*"
django-cors-headers = "*"
wikipedia = "*"
pandas = "*"
matplotlib = "*"
selenium = "*"

[requires]
python_version = "3.8"

[dev-packages]
